# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Build output
dist/
build/

# Dependency directories
/.pnp
.pnp.js

# IDE and editor files
.idea/
.vscode/
*.swp

# Docker related files
# Other files
*.log
*.bak
